<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger] [%line] - %m %n"></property>
    <property name="file_charset" value="UTF-8"></property>
    <property name="max_file_size" value="100MB"></property>
    <property name="max_history" value="10"></property>
    <property name="file_prefix" value="logs/application"></property>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>${file_charset}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${file_prefix}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_prefix}.%d.%i.log</fileNamePattern>
            <maxHistory>${max_history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${max_file_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>${file_charset}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${file_prefix}-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_prefix}-error.%d.%i.log</fileNamePattern>
            <maxHistory>${max_history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${max_file_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>${file_charset}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <!-- 生产环境 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.zhysunny.framework">
        <level value="INFO"></level>
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE_ERROR" />
    </logger>
    <!-- 关闭apache系统日志 -->
    <logger name="org.apache">
        <level value="OFF"></level>
    </logger>
    <!-- mybatis日志 -->
    <logger name="com.zhysunny.framework.springboot.mapper" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="INFO" />
	</logger>
    
</configuration>
